body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  /*position: fixed;*/
  background-image: url('tower.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .newDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
height: 150px;
content: url('wine.png');
position: fixed;
/*border: 10px solid red;
border-radius: 50px;*/
}

.croissant{
position: absolute;
height: 150px;
content: url('croissant.png');
}

.moped{
position: absolute;
content: url('moped.gif');
}

.fighter{
position: absolute;
height: 150px;
content: url('fighter.gif');
}




