body, html {
  height:100%;
}

body {
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

.cover {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.7;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title, .addDancerButton {
  padding:5px 12px;
  float:right;
  text-decoration: none;
}

a:hover {
  font-size: 20px;
}

.topbar {
  height:32px;
  background-color: #483D8B;
}

.title {
  background-color: #777;
}

/*IMG Section*/

.zangief {
  position: absolute;
  content: url('img/zangief.gif');
}

.zangief:hover {
  height: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.ryu {
  position: absolute;
  content: url('img/ryu.gif');
}

.ryu:hover {
  height: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.guile {
  position: absolute;
  content: url('img/guile.gif');
}

.guile:hover {
  height: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.chunli {
  position: absolute;
  content: url('img/chun-li.gif');
}

.chunli:hover {
  height: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



